.card-container-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-full-width {
  width: 100%;
  height: 35vh;
}
